<div>
	<pre>
import xhr from 'o-xhr';

xhr({
	url: document.getElementById('url').value,
	method: 'GET',
	onError: renderResponse,
	onSuccess: renderResponse
});

function renderResponse(request) {
	document.getElementById('results')
		.textContent = request.responseText;
}
	</pre>
	<hr>
	<div>
		<input type="text" id="url" value="http://reqr.es/api/users">
		<button id="get">GET</button>
	</div>
	<div>
		<textarea id="results" disabled></textarea>
	</div>
<div>
